html {
  background-color: #3c3f41; }

body {
  background: transparent; }

.container {
  margin-top: 20px; }

.test-console {
  font-family: Andale Mono, monospace;
  line-height: 1em;
  font-size: 1em;
  background-color: black;
  color: green;
  padding: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow-x: scroll; }

.grey-text {
  color: #747474; }
